.card{
cursor: pointer;
background-color: aliceblue;
border-radius: 16px;
box-shadow: 10 14px 40px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.9px);
-webkit-backdrop-filter: blur(10.9px);
border: 1px solid rgba(255, 255, 255, 0.8);
display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
width: 400px;
height: 600px;
overflow: hidden;
box-shadow: 3px -4px 18px 0px #737373;
border: none;
background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14.5px );
-webkit-backdrop-filter: blur( 14.5px );
border-radius: 10px;
border: 4px solid rgba(219, 219, 219, 0.664);
-webkit-box-shadow: 9px 0px 92px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 0px 92px -22px rgba(0,0,0,0.75);
box-shadow: 9px 0px 92px -22px rgba(0,0,0,0.75);
transform: scale(0.9) skew(-17deg);
-webkit-transform: scale(0.9) skew(-17deg);
-moz-transform: scale(0.9) skew(-17deg);

}
.card{
    transition: transform 312ms ease-in-out;
  }
  
  .card:hover {
    transform: rotate(5deg) translate(2px, -3px) scale(1.1, 1.3) skew(12deg, 1deg)
  }
.card img{
    border-radius: 12px;
  width: 50%;
    margin-top: 30px;
    
}
h1{
    text-shadow: 2px 2px 5px rgb(0, 221, 210);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    margin-top: 22px;
    color: rgb(255, 255, 255);

}
h3{
    text-shadow: 9px 3px 13px rgba(255,0,0,1);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    margin-top: 62px;
    color: rgb(217, 255, 0);

}

body{

    padding: 10px;
    background: blueviolet;
box-shadow: 0 8px 32px 0 rgba(0, 17, 255, 0.37);
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 14.5px );
border-radius: 10px;
}
p{
    margin-top: 20px;
    color: aliceblue;
}